<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested to change your password. You can use token to reset your password: <%= @token %></p>


<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
